@media (max-width: 900px){
    h3{
        font-size: 36px;

    }

    h2{
        font-size: 40px;
    }



    .text-section{
        padding: 10% 8%;
        width: 100%;
    }
}

@media (max-width: 620px){
    /* nav section */
    nav{
        /* padding: inherit; */
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        background: linear-gradient( to right, rgb(0, 255, 242), rgb(210, 224, 10));
        position: fixed;
        padding: 10px 10%;
        /* position: absolute; */
    }

    .div{
        position: fixed;
        display: block;
        z-index: 9;
        width: 100%;
        padding-top: 100px;
        margin: auto;
    }

    .menu{
        background: linear-gradient( to left, rgb(177, 229, 238), rgb(10, 181, 224));
        text-align: center;
        width: 80%;
        margin: 10px auto 0px auto;
        padding: 30px;
        border-radius: 8px;
        margin-left: -100%;
        transition: all 0.35s ease-in-out;
        box-shadow: 3px 3px 8px grey;
    }

    .menu-list li{
        margin-bottom: 30px;
    }

    .menu-list li a{
        color: black;
        padding: 10px 20px;
        transition: all 0.3s;
    }

    .menu-list li a:hover{
        background-color: hsl(51, 100%, 49%);
        border-radius: 50px;
        text-transform: uppercase;
    }

    .openmenu{
        height: 20px;
        cursor: pointer;
        position: absolute;
        right: 25px;
        top: 10px;
        display: block;
    }

    .closemenu{
        position: absolute;
        top: 10px;
        right: 25px;
        cursor: pointer;
    }


    #checkbtn{
        width: 30px;
        height: 30px;
        right: 22px;
        top: 10px;
        position: absolute;
        display: block;
        z-index: 3;
        opacity: 0;
    }

    #checkbtn:checked ~ .menu{
        margin-left: 10%;
    }

    #checkbtn:checked ~ .openmenu{
        display: none;
    }

    #checkbtn:checked ~ .closemenu{
        opacity: 100%;
        display: block;
    }

    .menuu{
        display: block;
    }

    #showcase{
        padding-top: 150px;
    }


    h2{
        font-size: 32px;
        letter-spacing:8px;
        line-height: 32px;
        width: 90%;
        text-align: center;
    }

    h3{
        font-size: 36px;
        width: 80%;
    }

    h4{
        font-size: 28px;
    }

    .nav-item{
        display: none;
    }

    .hamburger-img{
        display: block;
    }

    /* showcase section */
    #showcase{
        width: 100vw;
        /* height: 100vh; */
    }

    /* slide section */

    .first-slide, .second-slide{
       grid-template-columns: auto;
    }

    .slide-img, .text-section{
        max-width: 100vw;
    }

    .text-section{
        padding: 0px 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        order: 2;
    }

    .text-section p{
        width: 90%;
    }

    .text-img{
        max-width: 100%;
    }

    .text-img p{
        width: 90%;
    }

    /* testimonial section */

    #testimonial{
        padding: 100px 0px;
    }

    #testimonial h4{
        font-size: 18px;
    }

    .card-p{
        /* width: 80%; */
        margin: 20px auto;
        font-size: 18px;
    }

    /* image section */
    .image-slide{
        grid-template-columns: repeat(2, auto);
    }

    .image-slide img{
        width: 100%;
    }
}